.Productcardbox{
    display: flex;
    flex-direction: row;

}
.Productcardbox img{
   

}
.Productcardbox div{
    
}

.Productcardbox h1{
    /* margin-left: 200%; */
}
.Productcardbox p{
    
    
}
.productCradBox2{
    display: flex;
    flex-direction:row-reverse;

}
.productCradBox2 img{
    
}
.productCradBox2 div{
   
}
.productCradBox2 p{
   
   
}


